page-home {

    .content {
        background-color: #4267b2;
        font-family: 'Roboto';
    }

    .title {
        margin-top: 100px;

        h1 {
            text-align: center;
            color: white;
            font-weight: 400;
            font-size: 35px;
            font-family: 'TitilliumLight';
    
            span {
                font-weight: 700;
                font-family: 'Titillium';
            }
        }
    }

    .list {
        margin-bottom: 15px;
    }

    .li:first-child { margin-top: 20px; }

    .li {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .li:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}