page-scanner {
    .content {
        font-family: 'Roboto';
    }

    .header {
        background-color: #4267b2;

        .toolbar-title {
            width: auto;
            margin: auto;
            padding: 0;
            font-family: 'Titillium';
            font-weight: 700;

            span {
                font-weight: 400;
                font-family: 'TitilliumLight';
            }
        }
    }

    .btnlogout {
        transform: rotate(180deg);
    }

    .grid {
        padding: 0;
    }

    .figure {
        background-color: #f2f2f2;
        padding: 30px 0;
        text-align: center;

        img {
            height: 100px;
        }
    }

    h4 {
        text-align: center;
    }
}
