

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900');
html{background:#3b5998;}
main{background:#3b5998; height:100%; position:relative;}

h2{font-family: 'Titillium Web', sans-serif; color:#3b5998;}

.logo{margin-top:30px; margin-bottom:30px; }
.logo h1{font-family: 'Titillium Web', sans-serif; color:#fff; font-size:40px; text-align:center;}
.logo h1 span{font-weight:900;}



/*validação de formulario*/
.erroCad{border-bottom:2px solid red !important;}
.acertoCad{border-bottom:2px solid #3b5998 !important;}


.blocoAcc{background:#fff; padding:15px 20px; border-radius:8px; margin:auto;}

#home .blocoAcc{background:#fff; padding:15px 20px; border-radius:8px; max-width:250px; margin:auto;}
#home .blocoAcc fieldset input{border:none; box-shadow:none;  font-family: 'Titillium Web', sans-serif;}
#home .blocoAcc fieldset input[type="submit"]{width:100%; margin-top:5px; padding:5px 0; background:#3b5998; box-shadow:1px 1px 1px #333; color:#fff; font-size:14px;}
#home .blocoAcc fieldset input[type="submit"]:hover{background:#304e8f}
#home .blocoAcc fieldset input:active, #home fieldset input:focus{border:1px solid #3b5998;}
#home .blocoAcc fieldset hr{margin:0; border-color:#e4e2e2;}
#home .blocoAcc .linkAcoes a{
	text-align:center;
	display:block;
	width:100%;
	font-size:14px;
}
#home .blocoAcc .linkAcoes a:first-child{
	margin:5px 0; 
	width:100%; 
	background:#80848d; 
	color:#fff;
	border-radius:0;
	padding:5px 0;	
}
#home .blocoAcc .linkAcoes a:first-child:hover{
	text-decoration:none;
	background:#767981;
}
#cadastro{padding-bottom:20px}
#cadastro h2{margin:20px 0 30px;}
#cadastro form fieldset{margin-bottom:25px;}
#cadastro form fieldset p{font-size:12px; color:red; font-family: 'Titillium Web', sans-serif;}
#cadastro form fieldset h3{color:#333; font-family: 'Titillium Web', sans-serif; font-size:24px; margin:5px 0 15px;}
#cadastro form fieldset > div.row > div:not(.containerDoenca),#cadastro form fieldset > div.row > div:not(.containeMedicamento), #cadastro form fieldset > div.row > div#divBtnTel > div{height:42px; margin: auto;}
#cadastro form fieldset > div.row > div.containerAlergia{height:auto;}
#cadastro form fieldset > div.row > div.containerDoenca{height:auto; margin-top:16px}
#cadastro form fieldset > div.row > div.containeMedicamento{height:auto; margin-top:16px}
#cadastro form fieldset > div.row > div > div{height:42px; width:50%; padding-right:15px;}
#cadastro form fieldset label{overflow:hidden; width:0; height:0; position:absolute;}
#cadastro form fieldset input{ font-family: 'Titillium Web', sans-serif; border:none; border-bottom:1px solid #dedede; width:100%; padding-left: 4px; font-size:14px;} 
#cadastro form fieldset select{ font-family:'Titillium Web', sans-serif; width:100%; border:none; outline:none; border-bottom:1px solid #dedede; height:23px; font-size:14px;}
#cadastro form fieldset select option{border:none; outline:none; font-size:14px;}
#cadastro form fieldset input:focus{box-shadow:none; border:none; border-bottom:2px solid #3b5998; outline:none;}

#cadastro input[type="button"]{width:100%; margin-top:5px; border:none; padding:5px 0; background:#3b5998; box-shadow:1px 1px 1px #333; color:#fff; font-size:14px;}
#cadastro input[type="button"]:hover{background:#304e8f}

@media (max-width:991px){
}